@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
    var count = 0;
}
      

<div class="row">
   
    @foreach (var book in Model)
    {
        @if (count != 0 && count % 4 == 0)
        {
        @:</div>
        @:<div class="row" style="padding:5px;">
        }
        <div class="col-3">
            <partial name="_BookCard" model="@book" />
        </div>
        count++;
    }
</div>

<ul class="pagination">
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item"><a class="page-link" asp-action="Index" asp-controller="Home" asp-route-page="@i" asp-route-catid="@ViewBag.CatId">@i</a></li>
    }


</ul>
