@model KitapSitesi.Models.User

@{
    ViewData["Title"] = "AddUser";
}

<br />
<div class="container-fluid w-100" style="padding:25px;">
    <h1>Üye Ol</h1>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="AddUser">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name" class="control-label">İsim:</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">E-mail:</label>
                    <input type="email" asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Username" class="control-label">Kullanıcı Adı:</label>
                    <input asp-for="Username" class="form-control" />
                    <span asp-validation-for="Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Şifre:</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <input type="submit" value="Üye Ol" class="btn" style="background:#00ff90" />
                </div>
            </form>
        </div>
    </div>
</div>


<br />
<br />
<br />
<br />
<br />



