@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<body >

    <div class="jumbotron text-center" style="        background-color: #5efdb8;
        color: #ffffff;">
        <h1>Medyatek</h1>
        <p>Dijital Kütüphaneniz</p>
    </div>


    <br />

    @await Component.InvokeAsync("NewReleases")
    <br />
    <br />

    <partial name="_BookPagination" model="@Model" />
    <br />
    

</body>

