
<html>
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <title>KULLANIM ŞARTLARI VE GİZLİLİK POLİTİKASI</title>
</head>

<br />
<body>
    <div style="padding:10px;">
        <p>
            <strong>KULLANIM ŞARTLARI</strong>
        </p>
        <p>
            Sayın Kullanıcı, bir MedyatekHolding A.Ş. http://www.medyatek.com/&nbsp;&nbsp;web sitesine hoş geldiniz.
        </p>
        <p>
            <strong>&nbsp;&ldquo;Kullanım Şartları</strong>&rdquo; siz değerli kullanıcılarımıza web sitemizde yer alan bilgi ve hizmetlerin sağlanmasına ilişkin h&uuml;k&uuml;mleri d&uuml;zenlemektedir.
        </p>
        <p>
            <strong>KULLANIM ŞARTLARI, ERİŞİM, RİSK VE SORUMLULUĞUN SINIRLANDIRILMASI, IP ADRESLERİ VE COOKİELER (&Ccedil;EREZLER)</strong>
        </p>
        <p>
            <strong>1.</strong>&nbsp;http://www.medyatek.com/&nbsp;&nbsp;web; web sitesi ve sitedeki t&uuml;m dok&uuml;manlar Medyatek&rsquo;nın m&uuml;lkiyetindedir. Bu d&ouml;k&uuml;manlar, on-line sisteminde g&ouml;r&uuml;lmesi i&ccedil;in gerekli olması hali haricinde kopyalanamaz, yeniden &uuml;retilemez. Yukarıda belirtilenden bağımsız olarak, sitenin sayfalarının yazıcı &ccedil;ıktısını kişisel kullanımınız i&ccedil;in alabilirsiniz. Yukarıda belirtilen genel prensipten bağımsız olarak Medyatek, siteden wallpaper, screen saver ve diğer programlarını indirme imkanını verebilir. Bu sitede yer alan dok&uuml;manlar ile ilgili fikri ve sınai m&uuml;lkiyet haklarını ihlal edecek nitelikteki her t&uuml;rl&uuml; kullanım sonrasında ortaya &ccedil;ıkabilecek yasal sorumluluklar kullanıcıya aittir.
        </p>
        <p>
            <strong>2.</strong>&nbsp;Site ile link oluşturmak isterseniz, bu link&nbsp;http://www.medyatek.com/&nbsp;&nbsp;web; ana sayfasına y&ouml;nlendirilmelidir. [http://www.Medyatekrestaurant.com/]&nbsp;&nbsp;
        </p>
        <p>
            <strong>3.</strong>&nbsp;Medyatek tarafından web sitesinin vir&uuml;s ve benzeri ama&ccedil;lı yazılımlardan arındırılmış olması i&ccedil;in mevcut imkanlar dahilinde tedbir alınmış olmakla birlikte, nihai g&uuml;venliğin sağlanması i&ccedil;in kullanıcı, kendi vir&uuml;s koruma sistemini tedarik etmek ve gerekli korumayı sağlamakla y&uuml;k&uuml;ml&uuml;d&uuml;r. Bu &ccedil;er&ccedil;evede kullanıcı, http://www.medyatek.com/&nbsp;&nbsp;web; web sitesine girmesi nedeniyle, kendi yazılım ve işletim sistemlerinde oluşabilecek t&uuml;m hata ve bunların doğrudan ya da dolaylı sonu&ccedil;larından kendisinin sorumlu olduğunu kabul eder.
        </p>
        <p>
            <strong>4.</strong>&nbsp;http://www.medyatek.com/&nbsp;&nbsp;web;&nbsp;web sitesinde yer alan her t&uuml;rl&uuml; fiyat, bilgi, resim, a&ccedil;ıklama ve haber (kısaca &quot;bilgi&quot;) sadece tanıtım ve bilgi verme ama&ccedil;lıdır. Kullanıcı hi&ccedil;bir şekilde web sitesinde yer alan &quot;bilgi&quot;lerin hatalı olduğu ya da bu bilgilere istinaden zarara uğradığı iddiasında bulunamaz. Kullanıcı, bilgileri referans alarak bir işlem yapmak niyetinde olduğunda, nihai ve g&uuml;venilir enformasyonu, Medyatek&rsquo;dan temin etmekle y&uuml;k&uuml;ml&uuml; olduğunu ve web sitesinde yayınlanan bilgilerin g&uuml;ncel olmaması nedeniyle Medyatek&rsquo;nın &nbsp;herhangi bir sorumluluğu olmadığını kabul eder.
        </p>
        <p>
            <strong>5.</strong>&nbsp;Medyatek, kendi takdirinde olmak &uuml;zere sitenin i&ccedil;eriğini dilediği&nbsp;zaman değiştirme, kullanıcılara sağlanan herhangi bir hizmeti değiştirme ya da sona erdirme ve&nbsp;http://www.medyatek.com/&nbsp;&nbsp;web; web sitesinde kayıtlı kullanıcı bilgi ve verilerini silme hakkını saklı tutar. Medyatek, web sitesinin hatasız olması i&ccedil;in her t&uuml;rl&uuml; tedbir almış olmakla birlikte, sitede mevcut ya da oluşabilecek hatalar ile ilgili herhangi bir garanti vermemektedir.
        </p>
        <p>
            <strong>6.</strong>&nbsp;http://www.medyatek.com/&nbsp;&nbsp;web; web sitesinde hizmet bedeli bilgisi verilmesi halinde, ilgili bilgiler son g&uuml;ncelleme tarihinde ge&ccedil;erli olan bilgilerdir. Hizmetler ve rezervasyonlarla ilgili nihai bilgi temini i&ccedil;in Medyatek ile temasa ge&ccedil;ilmesini &ouml;nemle rica ederiz. Bu &ccedil;er&ccedil;evede Medyatek, web sitesinde yer alan bilgilerin (aksi a&ccedil;ık bir şekilde belirtilmedik&ccedil;e) bir hizmet verme teklifi olmadığını ve Medyatek adına bir taahh&uuml;t teşkil etmediğini beyan eder.
        </p>
        <p>
            <strong>7.</strong>&nbsp;Resmi makamlardan kullanıcıya y&ouml;nelik bir su&ccedil; duyurusu ya da resmi soruşturma talebi gelmesi ve/veya kullanıcının Medyatek sistemlerinin &ccedil;alışmasına engel olacak ya da işleyişini değiştirecek herhangi bir elektronik sabotaj veya saldırı yaptığının tespit edilmesi halinde, Medyatek, kullanıcının kimlik bilgilerini araştırma ve yasal mercilere bildirimde bulunma hakkına sahiptir.
        </p>
        <p>
            Medyatek web sitesi ile sahip olduğu t&uuml;m alt sitelerinin ve diğer bilgi sistemlerinin g&uuml;venliğini sağlamak Medyatek&rsquo;nın sorumluluğundadır. Ticari ama&ccedil;lı, iyi niyetli ya da başka bir ama&ccedil;la, web siteleri ve diğer bilgi teknolojileri sistemlerinde bulunabilecek zafiyetlerin tespitine y&ouml;nelik taramalar ve tespit edilebilecek zafiyetlerin suiistimal edilerek sistemlere zarar verilmesi, bilgi sızdırma vb faaliyetler yasa dışıdır. Bu gibi faaliyetlerin ger&ccedil;ekleştirilmesi durumunda 5651 sayılı İnternet Ortamında Yapılan&nbsp;Yayınların D&uuml;zenlenmesi ve Bu Yayınlar Yoluyla İşlenen Su&ccedil;larla M&uuml;cadele Edilmesi Hakkında Kanun uyarınca yaptırım uygulanabilir. Bu gibi girişimlerde bulunulması halinde, Medyatek yapılan saldırının tipi, saldırı zamanı, saldırgana ilişkin yasa kapsamında toplanan verilerle birlikte hukuki s&uuml;re&ccedil; başlatma ve s&uuml;re&ccedil; sonucunda para cezası ya da hapis cezasına varacak cezaları talep etme hakkını saklı tutar.
        </p>
        <p>
            <strong>8.</strong>&nbsp;Bazı durumlarda, şahsınıza &ouml;zel olmayan bilgiler toplanabilir. Bu tip bilgilere &ouml;rnek olarak kullandığınız internet tarayıcısının t&uuml;r&uuml;, işletim sisteminiz, sitemize linkle ya da ilanla ulaştığınız sitenin domain ismi verilebilir.
        </p>
        <p>
            <strong>9.</strong>&nbsp;Siteyi ziyaret ettiğinizde bilgisayarınıza bilgi konulabilir. Bu bilgi, &ccedil;erez (&quot;cookie&quot;) formatında ya da benzeri t&uuml;rden dosyada olacaktır ve bize birka&ccedil; y&ouml;nden yardımcı olacaktır. Bununla birlikte, sitemizde yaptığınız ziyaretlerdeki tercihleriniz takip edilerek, size daha iyi bir internet deneyimi yaşatmak ama&ccedil;lanmaktadır. &Ouml;rneğin; cookie&#39;ler, siteleri ve reklamları sizin ilgi alanlarınıza ve tercihlerinize g&ouml;re d&uuml;zenlememizi sağlayacaktır. Hemen hemen t&uuml;m internet tarayıcılarında, cookie&#39;leri hard diskinizden silmek, yazılmasını &ouml;nlemek ya da kaydedilmeden &ouml;nce uyarı mesajı almak i&ccedil;in se&ccedil;enekler vardır. Bu konuda daha fazla bilgi i&ccedil;in l&uuml;tfen tarayıcınızın yardım dosyalarına ve kullanım bilgilerine bakınız.
        </p>
        <p>
            <strong>10. 5846 Sayılı Fikir Ve Sanat Eserleri Kanunu ve 5651 Sayılı İnternet Ortamında Yapılan Yayınların D&uuml;zenlenmesi Ve Bu Yayınlar Yoluyla İşlenen Su&ccedil;larla M&uuml;cadele Edilmesi Hakkında Kanun Uyarınca Dikkat Edilecek Hususlar</strong>
        </p>
        <p>
            Kullanıcı/Kullanıcılar, web sitesi &uuml;zerinde bir başka web sitesine veya i&ccedil;eriğe erişim imkanı tanıyan link&#39;ler bulunabileceğini, bunların kontrol&uuml;n&uuml;n veya doğruluğunun veya yeterliliğinin Medyatek ile ilgisi olmadığını ve Medyatek&rsquo;nın bu siteleri herhangi bir şekilde desteklemediğini veya i&ccedil;erdiği bilgilerin doğruluğunu garanti etmediğini ve bu sitelerde yer alan i&ccedil;eriklerden dolayı herhangi bir sorumluluğu bulunmadığını, bu sitelerin ve/veya i&ccedil;eriklerin kullanımından veya bu i&ccedil;eriklere dayalı olarak almış oldukları kararların sonu&ccedil;larından, sitenin kullanım şartlarını okumamış veya okumuş ancak bunlara uygun davranmamış olmaları sebebiyle uğramış olduğu maddi veya manevi, m&uuml;sbet veya menfi ve olası herhangi bir zarardan veya masraftan Medyatek veya ona bağlı herhangi bir grup şirketinin veya &ccedil;alışanlarının, y&ouml;neticilerinin, yetkilendirdikleri kişi veya kuruluşlarının, hukuki veya cezai hi&ccedil;bir sorumluluğu olmadığını, sitede yer alan bilgilerin doğruluğu ve/veya yeterliliğinin Medyatek tarafından garanti edilmediğini kabul ve beyan etmişlerdir.
        </p>
        <p>
            Kullanıcı/Kullanıcılar, web sitesi &uuml;zerinde Medyatek&rsquo;ya veya &uuml;&ccedil;&uuml;nc&uuml; bir kişi veya kuruluşa ait herhangi biyazı, bilgi, yorum, g&ouml;r&uuml;ş, haber, g&ouml;r&uuml;nt&uuml;, resim, şekil, grafik ve sair bir materyal bulunabileceğini, Medyatek&rsquo;nın bu materyallerle ilgili olarak Fikir ve Sanat Eserleri Kanunu&#39;nun d&uuml;zenlediği yasal haklara sahip olduğunu, bunların Medyatek&rsquo;nın izni olmadan kopyalanamayacağını, değiştirilemeyeceğini, &ccedil;oğaltılamayacağını, yayınlanamayacağını, satılamayacağını veya kullandırılamayacağını veya bunlara m&uuml;dahale edilemeyeceğini kabul ve beyan etmişlerdir.
        </p>
        <p>
            Bu sitede yayınlanan t&uuml;m logolar, marka ve kurumsal amblemler, 556 sayılı Markaların Korunması Hakkında Kanun H&uuml;km&uuml;nde Kararname h&uuml;k&uuml;mleri ile korunmaktadırlar. Logolar hi&ccedil;bir şekilde kopyalanamaz ve kullanılamazlar. Kullanıcı/Kullanıcılar, Medyatek logosunun veya web sitesine ait sayfaların bir başka web sitesinde herhangi bir şekilde yer almasından veya web sitesine &uuml;&ccedil;&uuml;nc&uuml; kişiler veya ziyaret&ccedil;iler tarafından yapılabilecek herhangi bir i&ccedil;erik y&uuml;klemesinden dolayı elde edilecek bilgilerin kullanımından veya internetin genel uygulamalar &ccedil;er&ccedil;evesinde kullanımı dolayısıyla sorumluluk doğurmayan herhangi bir i&ccedil;erikten Medyatek&rsquo;nın veya ona bağlı veya onun bağlı olduğu herhangi bir grup şirketinin veya &ccedil;alışanlarının, y&ouml;neticilerinin, yetkilendirdikleri kişi veya kuruluşlarının, hukuki veya cezai hi&ccedil;bir sorumluluğu olmadığını kabul ve beyan etmişlerdir.
        </p>
        <p>
            <strong>11.</strong>&nbsp;Medyatek, http://www.medyatek.com/&nbsp;&nbsp;&nbsp;web sitesinde, &quot;Kullanım Şartları&quot;nın herhangi bir maddesini, bildirimde bulunmaksızın değiştirme, yenileme veya iptal etme hakkına sahiptir. Değiştirilen, yenilenen ya da y&uuml;r&uuml;rl&uuml;kten kaldırılan her h&uuml;k&uuml;m, yayın tarihinde t&uuml;m kullanıcılar bakımından h&uuml;k&uuml;m ifade edecektir.
        </p>
        <p>
            <strong>GİZLİLİK /</strong> <strong>KİŞİSEL VERİLERİN KORUNMASI POLİTİKASI</strong>
        </p>
        <p>
            İşbu<strong>&nbsp;&ldquo;Gizlilik/Kişisel Verilerin Korunması Politikası&rdquo;</strong>&nbsp;bir MedyatekHolding A.Ş. &rsquo;ye ait http://www.Medyatekrestaurant.com/&nbsp;sitesi ile ilgili hizmetleri sunarken, kişisel verilerinize ilişkin politikamızı i&ccedil;ermektedir. Gizlilik/Kişisel Verilerin Korunması Politikasının Amacı
        </p>
        <p>
            Bu Gizlilik/Kişisel Verilerin Korunması Politikası Medyatek&rsquo;nın ;
        </p>
        <ul>
            <li>
                Ne t&uuml;r kişisel veriler topladığını,
            </li>
            <li>
                Bu kişisel verilerin nasıl kullanıldığını,
            </li>
            <li>
                Medyatek&rsquo;in işlediği kişisel verileriniz &uuml;zerindeki haklarınızın neler olduğunu ve bu hakları nasıl kullanabileceğinizi,
            </li>
            <li>
                Elektronik ticari ileti alma konusundaki olumlu veya olumsuz tercihlerinizi nasıl değiştirebileceğinizi a&ccedil;ıklamaktadır.
            </li>
        </ul>
        <p>
            <strong>1-İşlenen Kişisel Verileriniz, Kişisel Veri İşleme Amacı ve Dayanağı</strong>
        </p>
        <p>
            Kendi istek ve iradenizle bizimle paylaşmış olduğunuz kişisel verileriniz (ad, soyad, doğum tarihi, cep telefonu numarası, e-posta, cinsiyet, adres, meslek, eğitim, medeni durum, ara&ccedil; plakası, kimlik bilgileri, harcama bilgileri, fatura bilgileri, sosyal medya hesaplarıyla bağlanılması durumunda &uuml;yenin o kanallar aracılığıyla paylaşılmasına onay verdiği bilgiler, sosyal medya hesapları alışveriş bilgileri, &uuml;yenin t&uuml;m alışveriş bilgileri, yani hangi Medyatek işletmesi ve zamanı, ne kadar &ouml;deme yaptığı, hangi kampanyadan faydalandığı, aldığı indirim tutarı, uygulama &uuml;zerindeki gezinme ve tıklama bilgileri, uygulamayı a&ccedil;tığı lokasyon bilgileri gibi) Size daha iyi hizmet verebilmek amacıyla işlenmektedir. Bunun yanı sıra 5651 sayılı İnternet Ortamında Yapılan Yayınların D&uuml;zenlenmesi ve Bu Yayınlar Yoluyla İşlenen Su&ccedil;larla M&uuml;cadele Edilmesi Hakkında Kanun ve bağlı mevzuat, 6563 Sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun ve bağlı mevzuat, 5237 sayılı T&uuml;rk Ceza Kanunu ve 6698 sayılı Kişisel Verilerin Korunması Kanunu başta olmak &uuml;zere, ilgili mevzuattan kaynaklanan yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerimiz &ccedil;er&ccedil;evesinde; s&ouml;z konusu ama&ccedil; ve yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerimizin yerine getirilebilmesini sağlamak amacıyla da, kişisel verileriniz işlenmektedir.&nbsp; Bug&uuml;ne kadar olduğu gibi, bu kişisel verileriniz bu defa Kişisel Verilerin Korunması Kanunu md. 5 ve 6&rsquo;da yer alan istisnalar saklı olmak kaydıyla, verdiğiniz a&ccedil;ık rızanıza istinaden, işbu Kişisel Verilerin Korunması Politikası ile belirlenen ama&ccedil;lar ve kapsam dışında kullanılmamak kaydı ile bilgi g&uuml;venliği tedbirleri de alınarak işlenecek ve saklanacaktır.
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>Kişisel Verilerin Paylaşılması İzni</strong>
        </p>
        <p>
            Bizimle paylaşılmasına a&ccedil;ık rıza g&ouml;stermiş olduğunuz kişisel verilerinizin, tarafınıza &ccedil;eşitli avantajların sağlanıp sunulabilmesi ve kişisel olarak size uygun reklam, tanıtım, satış, pazarlama, bilgilendirme, promosyon, kampanya bildirimi, &uuml;yelik işlemleri, anket ve m&uuml;şteri memnuniyeti araştırmaları ve bu kapsamdaki hizmetlerin sağlanması ve yasal y&uuml;k&uuml;ml&uuml;l&uuml;klerimizin ifası amacıyla her t&uuml;rl&uuml; elektronik iletişim yapılması ve diğer iletişim mesajlarının g&ouml;nderilmesi i&ccedil;in Şirketimiz tarafından toplanmasına, kaydedilmesine, işlenmesine, saklanmasına, kullanılmasına ve aynı ama&ccedil;lara y&ouml;nelik olarak aşağıda belirtilen &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarılmasına/paylaşılmasına izin vermiş bulunmaktasınız. Kişisel verilerinizin aktarılmasına/paylaşılmasına izin verdiğiniz &uuml;&ccedil;&uuml;nc&uuml; kişiler, tahdidi olmamak kaydıyla, aşağıdaki gibidir:
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MedyatekM&uuml;şteri Sistemleri A.Ş. (www.dogusmusterisistemleri.com);
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MedyatekHolding A.Ş. (www.dogusgrubu.com.tr);
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; MedyatekHolding iştirakleri ve bağlı ortaklıkları (www.dogusgrubu.com.tr);
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Şirketimiz&rsquo;in s&ouml;zleşme ilişkisi i&ccedil;erisinde olduğu yurti&ccedil;i ve/veya yurtdışındaki 3. Taraflar;
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Nahita Restoran İşletmeciliği ve Yatırım A.Ş.&nbsp; iştirakleri ve bağlı ortaklıkları (https://www.dogusgrubu.com.tr/tr/yeme-icme);
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Şirketimiz adına veri işleyen araştırma, tanıtım ve danışmanlık hizmeti veren firmalar;
        </p>
        <p>
            &bull;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Kişisel verileri talep etmeye yetkili olan kamu kurum ve kuruluşlar.
        </p>
        <p>
            Bizimle irtibata ge&ccedil;erek kişisel verilerinizi aktardığımız/paylaştığımız diğer &uuml;&ccedil;&uuml;nc&uuml; kişiler hakkında bilgi edinebilirsiniz.
        </p>
        <p>
            Bu bilgiler sadece size sağlanacak hizmetlerin tam ve zamanında sunulabilmesi, olası g&ouml;nderilerinizin sağlıklı şekilde teslim edilmesi, telefon, sms ve/veya e-posta yoluyla bildirimlerimizin zamanında ulaştırılabilmesi amacıyla, s&ouml;zleşme ilişkisi i&ccedil;inde olduğumuz, veri koruması ve g&uuml;venliği konusunda bizimle hukuken ve teknik olarak aynı sorumlulukları taşıyan, ilgili mevzuat h&uuml;k&uuml;mlerine riayet eden &uuml;&ccedil;&uuml;nc&uuml; kişilerle, yalnızca ihtiya&ccedil; durumunda ve gerekli &ouml;l&ccedil;&uuml;de paylaşılacaktır.
        </p>
        <p>
            <strong>2-Kişisel Verilerin Korunmasına İlişkin &Ouml;nlemler</strong>
        </p>
        <p>
            Kişisel verilerin korunması Medyatek i&ccedil;in &ouml;nemli bir konudur. Medyatek, kişisel verilere yetkisiz erişim veya bu bilgilerin kaybı, hatalı kullanımı, ifşa edilmesi, değiştirilmesi veya imha edilmesine karşı korumak i&ccedil;in gerekli &ouml;nlemleri almaktadır.<br />
            Medyatek kişisel verilerinizi gizli tutmayı, gizliliğin sağlanması ve g&uuml;venliği i&ccedil;in gerekli teknik ve idari her t&uuml;rl&uuml; tedbiri almayı ve gerekli &ouml;zeni g&ouml;stermeyi taahh&uuml;t etmektedir. Medyatek&rsquo;nın gerekli bilgi g&uuml;venliği &ouml;nlemlerini almasına karşın, web sitesine ve sisteme yapılan saldırılar sonucunda kişisel verilerin zarar g&ouml;rmesi veya &uuml;&ccedil;&uuml;nc&uuml; kişilerin eline ge&ccedil;mesi durumunda, Medyatek bu durumu derhal sizlere ve Kişisel Verileri Koruma Kurulu&rsquo;na bildirir.&nbsp;
        </p>
        <p>
            &nbsp;
        </p>
        <p>
            <strong>3-6698 Sayılı Kişisel Verilerin Korunması Kanunu&rsquo;nun 11. maddesi gereği haklarınız;</strong>
        </p>
        <p>
            Medyatek&rsquo;ya başvurarak, kişisel verilerinizin;
        </p>
        <p>
            a) işlenip işlenmediğini &ouml;ğrenme,
        </p>
        <p>
            b) işlenmişse bilgi talep etme,
        </p>
        <p>
            c) işlenme amacını ve amacına uygun kullanılıp kullanılmadığını &ouml;ğrenme,
        </p>
        <p>
            &ccedil;) yurt i&ccedil;inde/yurt dışında aktarıldığı 3. kişileri bilme,
        </p>
        <p>
            d) eksik/yanlış işlenmişse d&uuml;zeltilmesini isteme (eksik/yanlış işlenen kişisel verileriniz s&ouml;z konusu ise bu verilerinizi değiştirmek i&ccedil;in&nbsp;<a href="mailto:iletisim@d-ream.com.tr">iletisim@d-ream.com.tr</a>&nbsp;adresi ile irtibata ge&ccedil;ebilirsiniz),
        </p>
        <p>
            e) 6698 Sayılı Kişisel Verilerin Korunması Kanunu&rsquo;nun 7. maddesinde &ouml;ng&ouml;r&uuml;len şartlar &ccedil;er&ccedil;evesinde silinmesini/yok edilmesini isteme,
        </p>
        <p>
            f) aktarıldığı 3. kişilere yukarıda sayılan (d) ve (e) bentleri uyarınca yapılan işlemlerin bildirilmesini isteme,
        </p>
        <p>
            g) m&uuml;nhasıran otomatik sistemler ile analiz edilmesi nedeniyle aleyhinize bir sonucun ortaya &ccedil;ıkmasına itiraz etme,
        </p>
        <p>
            ğ) kanuna aykırı olarak işlenmesi sebebiyle zarara uğramanız h&acirc;linde zararın giderilmesini talep etme hakkına sahipsiniz.
        </p>
        <p>
            Kişisel verilerinizle ilgili 6698 sayılı Kişisel Verilerin Korunması Kanunu&rsquo;nu madde 11 uyarınca sahip olduğunuz haklarınızı kullanmak i&ccedil;in bizimle her zaman iletisim@d-ream.<a href="http://com.tr/" target="_blank">com.tr</a>&nbsp;adresine mail atarak irtibata ge&ccedil;ebilirsiniz.
        </p>
        <p>
            <strong>4-Kişisel Veri Saklama S&uuml;resi</strong>
        </p>
        <p>
            6563 sayılı Elektronik Ticaretin D&uuml;zenlenmesi Hakkında Kanun uyarınca; onay, onayın geri alındığı, ticari elektronik iletinin i&ccedil;eriği ve g&ouml;nderiye ilişkin diğer kayıtlar gerektiğinde ilgili Bakanlığa sunulmak &uuml;zere kayıt altına alınarak; onayın ge&ccedil;erliliğinin sona erdiği tarihten itibaren 3 yıl saklanacaktır. S&uuml;re ge&ccedil;tikten sonra kişisel verileriniz şirketimiz tarafından veya talebiniz &uuml;zerine silinir, yok edilir veya anonim hale getirilir. &nbsp;&nbsp;
        </p>
        <p>
            <strong>5-Kişisel Verilerinizin Doğru ve G&uuml;ncel Olarak Muhafaza Edilmesi</strong>
        </p>
        <p>
            Kullanıcı/Kullanıcılar web sitesi &uuml;zerinde paylaştıkları bilgilerin doğru olmasının ve g&uuml;ncel bir şekilde muhafaza edilmesinin 6698 sayılı Kişisel Verilerin Korunması Kanunu anlamında kişisel verileri &uuml;zerinde sahip oldukları hakları kullanabilmeleri ve ilgili diğer mevzuat a&ccedil;ısından &ouml;nemli olduğunu bildiklerini ve yanlış bilgi verilmesinden doğacak sorumlulukların tamamen kendilerine ait olacağını kabul ve beyan etmişlerdir. Paylaşmış olduğunuz kişisel verileriniz ile ilgili değişiklik ve/veya g&uuml;ncellemeleri iletisim@d-ream.com.tr adresine mail atarak &nbsp;yapabilirsiniz.
        </p>
        <p>
            <strong>6-Kişisel Verilerinizin Silinmesi, Yok Edilmesi Veya Anonimleştirilmesi</strong>
        </p>
        <p>
            İşbu &ldquo;Kullanım Şartları Ve Gizlilik/Kişisel Verilerin Korunması Politikası&rdquo;nda belirtilen ama&ccedil;larla işlenmiş olan kişisel verileriniz; 6698 sayılı Kanun madde 7/f.1&rsquo;e g&ouml;re işlenmesi gerektiren ama&ccedil; ortadan kalktığında ve T&uuml;rk Ceza Kanunu madde 138&rsquo;e g&ouml;re ise kanunların belirlediği s&uuml;reler ge&ccedil;ince tarafımızca anonimleştirilerek kullanılmaya devam edilecektir.
        </p>
        <p>
            Kişisel verilerinizin işlenmesi ve kullanılması ile ilgili olarak her zaman silme ve vermiş olduğunuz onayı geri alma hakkınız bulunmaktadır. Kişisel verilerinizin silinmesini istediğiniz takdirde&nbsp;<a href="mailto:iletisim@d-ream.com.tr">iletisim@d-ream.com.tr</a>&nbsp;adresi ile irtibata ge&ccedil;ebilirsiniz.
        </p>
        <p>
            <strong>7-Gizlilik/Kişisel Verilerin Korunması Politikası&rsquo;nda Yapılacak Değişiklikler</strong>
        </p>
        <p>
            Medyatek, işbu &ldquo;Kullanım Şartları Ve Gizlilik/Kişisel Verilerin Korunması Politikası Ve İletişim İzni&#39;&rsquo;nde her zaman değişiklik yapabilir. Bu değişiklikler, değiştirilmiş yeni &ldquo;Kullanım Şartları Ve Gizlilik/Kişisel Verilerin Korunması Politikası&#39;&rsquo;nın http://www.Medyatekrestaurant.com/ sitesine konulmasıyla birlikte derhal ge&ccedil;erlilik kazanır. İşbu &ldquo;Kullanım Şartları Ve Gizlilik/Kişisel Verilerin Korunması Politikası&rdquo;ndaki değişikliklerden haberdar olmanız i&ccedil;in, sizlere gerekli bilgilendirme yapılacaktır.
        </p>
        <p>
            <strong>8-Uygulanacak Hukuk, Yetkili Mahkeme Ve İcra Daireleri</strong>
        </p>
        <p>
            İşbu &ldquo;Kullanım Şartları Ve Gizlilik /Kişisel Verilerin Korunması Politikası&rdquo; T&uuml;rkiye Cumhuriyeti Kanunlarına tabidir. Burada yer alan hususlarla ilgili olarak herhangi bir uyuşmazlık veya ihtilaf iddia veya talep olduğu takdirde, İstanbul (&Ccedil;ağlayan) Mahkeme ve İcra Dairelerinin yetkili olacaktır.
        </p>
        <p>
            <strong>9-Son H&uuml;k&uuml;m</strong>
        </p>
        <p>
            Kullanıcı/Kullanıcılar, web sitesine girmeden &ouml;nce yukarıda yer alan &ldquo;Kullanım Şartları ve Gizlilik/Kişisel Verilerin Korunması Politikası&rdquo;nı okuduklarını, yukarıda belirtilen t&uuml;m hususlara uyacaklarını, web sitesinde yer alan i&ccedil;eriklerin ve Medyatek&rsquo;e ait t&uuml;m elektronik ortam ve bilgisayar kayıtlarının Hukuk Muhakemeleri Kanunu madde 193 uyarınca kesin delil sayılacağını gayrıkabili r&uuml;cu olarak kabul, beyan ve taahh&uuml;t etmişlerdir.
        </p>
        <p>
            6698 sayılı Kişisel Verilerin Korunması Kanunu kapsamında, kişisel verilerimin Şirketiniz tarafından yasadaki ve yukarıdaki esaslar &ccedil;er&ccedil;evesinde toplanmasına, kaydedilmesine, işlenmesine, saklanmasına, kullanılmasına ve aynı ama&ccedil;lara y&ouml;nelik olarak &uuml;&ccedil;&uuml;nc&uuml; kişilere aktarılmasına/paylaşılmasına izin veriyorum.
        </p>

    </div>
</body>
</html>