
@{
    ViewData["Title"] = "FinishShopping";
}


<br />
<br />
<br />
<br />



<div style="  position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 5px solid #b200ff;
        padding: 10px;
    ">

    <h1>Siparişiniz hazırlanıyor, bizi tercih ettiğiniz için teşekkür ederiz.</h1>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

