@model IEnumerable<Category>
<div class="list-group">

    <a asp-action="Index" asp-controller="Home" class="list-group-item list-group-item-action">Ana Sayfa</a>
    @foreach (var category in Model)
    {
        <a asp-controller="Book" asp-action="BooksByCategory" asp-route-categoryId="@category.Id" class="list-group-item list-group-item-action">@category.Name</a>
    }
</div>